<ion-header>

	<ion-navbar>
		<ion-title>Recebimentos</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>

	<ion-label>Pesquisar</ion-label>

	<ion-row>
		<ion-searchbar col-12 placeholder="por Nome" [(ngModel)]="searchTerm" (ionInput)="pesquisar()"></ion-searchbar> 
	</ion-row>

	<ion-row>
		<ion-row col-6>
			<ion-item>
				<ion-label stacked>por Data Inicio</ion-label>
				<ion-datetime displayFormat="DD/MM/YYYY" name="data" [(ngModel)]="searchDataInicio" (ngModelChange)="pesquisar()"></ion-datetime>
			</ion-item>
		</ion-row>

		<ion-row col-6>
			<ion-item>
				<ion-label stacked>por Data Fim</ion-label>
				<ion-datetime displayFormat="DD/MM/YYYY" name="data"  [(ngModel)]="searchDataFim" (ngModelChange)="pesquisar()"></ion-datetime> 
			</ion-item>
		</ion-row>
	</ion-row>

	<ion-list>
		<ion-card *ngFor="let item of recebimentos">
			<ion-card-header>
				<h1>{{ item.nome }}</h1>
			</ion-card-header>
			<ion-grid>
				<ion-row>
					<ion-col ><b>Data Vencimento</b></ion-col>
					<ion-col ><b>Data Pagamento</b></ion-col>
					<ion-col ><b>Valor</b></ion-col>
					<ion-col ><b>Situação</b></ion-col>
				</ion-row>
				<div *ngFor="let item2 of item.recebimentos">
					
					<ion-row>
						<ion-col>{{item2.data | date:'dd/MM/yyyy'}}</ion-col>
						<ion-col>{{item2.dataPagamento | date:'dd/MM/yyyy'}}</ion-col>
						<ion-col>{{item2.valor}}</ion-col>
						<ion-col>
							<ion-label *ngIf="item2.ativo" class="pago">Pago</ion-label>
							<ion-label *ngIf="!item2.ativo"class="nao-pago">Não Pago</ion-label>
						</ion-col>
					</ion-row>	
				
				</div>
			</ion-grid>
			<ion-row text-center>
				<ion-col>
					<button [disabled]="desabiltarPagamento(item.venda)" ion-button icon-left clear small (click)="visualizarPagamentos(item.venda);">
						<ion-icon name="card"></ion-icon>
						<div>Pagamentos</div>
					</button>
				</ion-col>
				<ion-col>
					<a href="tel:{{ item.venda.telefone }}" ion-button icon-left clear small>
						<ion-icon name="call"></ion-icon>
						<div>Ligar</div>
					</a>
				</ion-col>
			</ion-row>
		</ion-card>
	</ion-list>
</ion-content>